.error {
  color: red;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: green;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}

.bloglist {
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 10px;

}

.blog-item {
  margin: 10px;
  font-size: 1.2em;
}

.blog-text {
  margin: 10px;
}

.menu {
  padding: 10px;
  border: 2px solid lightblue;
  border-radius: 5px;
  margin-bottom: 20px;
}

.item {
  margin-right: 10px;
}

.blog {
  padding: 15px;
  border: 2px solid lightblue;
  border-radius: 5px;
}

#usernameInput, #passwordInput {
  width: 300px;
}

.users-row {
  display: grid;
  grid-template-columns: 100px 100px
}